.todo-item {
    background-color: #48426D;
    border-radius: 10px;
    list-style: none;
    height: 4rem;
    margin: 0.4rem 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);

  }

  ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  .todo-item .check {
    background: url("./assets/circle.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor: pointer;
  }
  
  .todo-item .check--active {
    background: url("./assets/circle-check.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor: pointer;
  }
  
  .todo-item p {
    width: 70%;
    /*   height: 100%; */
  }
  
  .todo-item .close-item {
    background: url("./assets/x.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
    width: 1.2em;
    height: 1.2em;
    border: none;
    cursor: pointer;
  }
  
  .todo-item .close-item:hover {
    background: url("./assets/x-yellow.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
  }